* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(3, 11, 59);
  /* background-color: rgb(255, 255, 255); */
  color: white;
}

/* navbar code starts here */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(24, 25, 90);
  font-family: sans-serif;
  /* font-size: 1.5rem; */
  position: sticky;
  z-index: 0;
}

nav .left {
  color: rgb(223, 13, 223);
  font-size: 2rem;
  font-weight: bold;
  margin-right: 20rem;
}

nav .right {
  font-size: 1.2rem;
  margin-right: 10rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(165, 165, 172);
}

/* navbar codes ends here */

/* first section code starts here */

.first-section {
  display: flex;
  justify-content: space-around;
  margin: 25px 0;
  /* width: 50%; */
}

.left-section #element {
  color: rgb(55, 175, 255);
}

.first-section div {
  width: 40%;
}

.left-section {
  /* background-color: red; */
  font-size: 3rem;
  margin-top: 8rem;
}

.right-section img {
  padding: 20px;
  margin: 25px;
}

.purple {
  color: rgb(189, 27, 189);
}

/* first section code ends here */

/* journey section starts here */

hr {
  border: none;
  height: 1px;
  width: 80%;
  background: rgb(70, 88, 255);
  margin: 50px;
  margin-left: 100px;
}

.second-section {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.second-section h1 {
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px;
}

.second-section .title {
  margin-bottom: 100px;
}

.text-gray {
  color: purple;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.second-section .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin-top: 30px;
  margin-left: -35px;
  display: flex;
}

.second-section .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 130px;
}

.image-top {
  width: 50px;
  position: relative;
  top: -53px;
  left: -30px;
  padding: 2px;
}

.css-image {
  position: relative;
  top: -102px;
  left: 20px;
}

.github-image {
  position: relative;
  top: -112px;
  left: 18px;
}

.vertical .css-title {
  position: relative;
  top: -3px;
}

.vertical .css-desc {
  position: relative;
  top: 42px;
}
.vertical .git-title {
  position: relative;
  top: -12px;
}

.vertical .git-desc {
  position: relative;
  top: 33px;
}

.vertical-title {
  position: relative;
  top: 40px;
  width: 210px;
  font-size: 30px;
}

.vertical-desc {
  position: relative;
  top: 86px;
  color: gray;
  width: 210px;
  font-size: 15px;
}

/* about section starts here */

.dev-info{
  display: flex;
  justify-content: space-between;
}

.dev-info .title {
  text-align: center;
  margin: 20px;
  margin-bottom: 50px;
  font-family: sans-serif;
  color: rgb(143, 33, 143);
}

.dev-info .info {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 1000px;
  padding: 20px;
  line-height: 25px;
  font-size: 18px;
  margin-top: 130px;
  /* margin-left: 150px; */
}

.info .dev-name {
  color: rgb(156, 43, 156);
  font-size: 25px;
  font-weight: bold;
}

/* .info .more-sizing{

  margin: 50px;
  padding: 50px;
} */

.dev-img{
  padding: 30px;
  margin: 30px;
}

/* contact option starts here */

.container{
  box-sizing: border-box;
  font-family:sans-serif;
}

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content{
  max-width: 800px;
  text-align: center;
  font-family: sans-serif;
}

.contact .content h2{
  font-size: 36px;
  font-weight: bold;
  color: rgb(207, 19, 207);
}

.contact .content p{
  font-weight: 300;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.container .contact-info{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contact-info .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contact-info .box .icon{
  min-width: 60px;
  height: 60px;
  background: #df2bc7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  color: black;
}

.container .contact-info .box .icon:hover{
  background: white;
  transition: 1s;
}

.container .contact-info .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contact-info .box .text h3{
  font-weight: bold;
  color: rgb(218, 14, 218);
}

.contact-form{
  width: 40%;
  padding: 40px;
  background: rgb(167, 181, 238);
  color: black;
  border: none;
  border-radius: 20px;
}

.contact-form h2{
  font-size: 30px;
  color: #bd34c2;
  font-weight: bold;
}

.contact-form .input-box{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box textarea,
.contact-form .input-box input{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background:  rgb(167, 181, 238);
}

.contact-form .input-box span{
  position: relative;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #000000;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{

  color: purple;
  font-size: 12px;
  transform: translateX(-20px);
}

.contact-form .input-box input[type="submit"]{
  width: 100px;
  background: rgb(197, 46, 197);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 30px;
}

.contact-form .input-box input[type="submit"]:hover{
  background-color: rgb(184, 36, 184);
  transition: 0.5s;
}

/* contact option ends here  */

/* footer option starts here */

footer{
  box-sizing: border-box;
  background: #06061a;
  height: 300px;
  width: 100vw;
  font-family: sans-serif;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 2rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #bd34c2;
}

/* footer option ends here */